body {
  font-family: 'Ledger', serif;
  background-color: #aaaaaa;
}

h1, h2 {
  font-family: 'Dancing Script', cursive
}

.header {
  background-color: #000000;
}

.cat-bg {
  background-image: url("../images/cat-silhouette.png");
  background-color: #000000;
  background-repeat: no-repeat;
  background-position: right;
}

.word-spacing {
  font-family: 'Cutive Mono', monospace;
  font-size: 1.5rem;
}